[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pylint = "*"
flake8 = "*"
responses = "*"
splitstream = "*"

[requires]
python_version = "3.6"
